<div class="col-md-12 px-3 mb-5">

  <h2 class="pb-3 title-table">Empleados</h2>

  <div class="card">
    <p-table #dt
      [rows]="10"
      [paginator]="true"
      responsiveLayout="stack"
      [value]="empleados"
      [rowHover]="true"
      [globalFilterFields]="['nombre', 'apPaterno', 'apMaterno']"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
          <div>
            <button pButton pRipple label="Agregar" icon="pi pi-plus" (click)="showModalFormEmpleado()" class="p-button-rounded btn-red-wine me-2"></button>
            <!-- <button pButton pRipple label="Descargar listado" icon="pi pi-download" class="p-button-rounded btn-red-wine"></button> -->
          </div>

          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="filterGlobalTable($event, 'contains')" placeholder="Buscar por nombre/apellidos">
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
          <th pSortableColumn="apPaterno">Apellido Paterno <p-sortIcon field="apPaterno"></p-sortIcon></th>
          <th pSortableColumn="apMaterno">Apellido Materno <p-sortIcon field="apMaterno"></p-sortIcon></th>
          <th pSortableColumn="estatus">Estatus <p-sortIcon field="estatus"></p-sortIcon></th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-empleado let-columns="columns">
        <tr>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.apPaterno}}</td>
          <td>{{empleado.apMaterno}}</td>
          <td>
            <p-badge *ngIf="empleado.estatus" value="Activo" severity="success"></p-badge>
            <p-badge *ngIf="!empleado.estatus" value="Inactivo" severity="danger"></p-badge>
          </td>
          <td>
            <button pButton 
              pTooltip="Editar"
              tooltipPosition="top"
              pRipple
              icon="pi pi-pencil"
              (click)="showModalFormEmpleado(empleado.idEmpleado)"
              class="p-button-rounded btn-red-wine me-2">
            </button>
            <button pButton
              pTooltip="Visualizar detalles"
              tooltipPosition="top"
              pRipple
              icon="pi pi-eye"
              (click)="showModalDetalleEmpleado(empleado.idEmpleado)"
              class="p-button-rounded btn-pink me-2">
            </button>
            <p-inputSwitch [(ngModel)]="empleado.deshabilitar"
              pTooltip="Deshabilitar/Habilitar"
              tooltipPosition="top"
              (onChange)="disableEmpleado($event, empleado.idEmpleado, empleado.estatus)">
            </p-inputSwitch>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!---Confirm dialog--->
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
<!---End Confirm dialog--->