<dl>
  <div class="bg-data mb-3">
    <dt class="color-label">Clave</dt>
    <dd>{{puesto.clave}}</dd>
  </div>

  <div class="bg-data mb-3">
    <dt class="color-label">Nombre</dt>
    <dd>{{puesto.nombre}}</dd>
  </div>

  <div class="bg-data mb-3">
    <dt class="color-label">Descripción</dt>
    <dd *ngIf="puesto.descripcion != null">{{puesto.descripcion}}</dd>
    <dd *ngIf="puesto.descripcion == null" class="fst-italic">(Dato no proporcionado)</dd>
  </div>

  <div class="bg-data mb-3">
    <dt class="color-label">Departamento al que pertenece</dt>
    <dd>{{nombreDepartamento}}</dd>
  </div>
</dl>

<div class="d-flex justify-content-end">
  <button type="button" pButton (click)="closeModal()" class="p-button-rounded btn-red-wine me-3" label="Aceptar"></button>
</div>