<dl>
    <div class="row">
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Clave Personal </dt>
          <dd>{{personal.clave_P}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> RFC </dt>
          <dd>{{personal.rfc_P}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Nombre Completo </dt>
          <dd>{{personal.nombre_P}}</dd>
        </div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Grupo sanguineo </dt>
          <dd>{{personal.gruposan_P}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Edad </dt>
          <dd>{{personal.edad_p}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Sexo </dt>
          <dd>{{ personal.sexo_P}}</dd>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label">Estado Civil</dt>
          <dd>{{personal.ecivil_P}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Telefono Contacto </dt>
          <dd>{{personal.tel_P}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Telefono Personal</dt>
          <dd> {{ personal.telcel_P}}</dd>
        </div>
      </div>
  
      <div class="col-12">
        <div class="bg-data mb-3">
          <dt class="color-label"> Domicilio Completo </dt>
          <dd>{{personal.domicilio_P}}</dd>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <div class="bg-data mb-3">
          <dt class="color-label"> Estudio </dt>
          <dd>{{personal.estudio_P}}</dd>
        </div>
      </div>
  
      <div class="col-6">
        <div class="bg-data mb-3">
          <dt class="color-label"> Titulo </dt>
          <dd>{{personal.titulo}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Postgrado </dt>
          <dd>{{personal.postgrado}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> fotografia </dt>
          <dd > {{personal.fotografia}}</dd>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Clave Categoria </dt>
          <dd>{{personal.clave_Catego}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Clave Status </dt>
          <dd>{{personal.clave_Status}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Puesto </dt>
          <dd>{{personal.puesto_P}}</dd>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Clave Tipo de Contrato </dt>
          <dd>{{personal.clave_TipContrato}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Compensacion </dt>
          <dd>{{personal.compensacion_P}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Sueldo Neto </dt>
          <dd>{{personal.sueldoneto_P}}</dd>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Fecha de Alta </dt>
          <dd>{{personal.fecha_alta_P | date: 'longDate'}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Clave Directo </dt>
          <dd>{{personal.clave_Direc}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Clave Departamento </dt>
          <dd>{{personal.clave_Depto}}</dd>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Clave Horario </dt>
          <dd>{{personal.clave_Horario}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Funciones </dt>
          <dd>{{personal.funciones}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Fecha Baja </dt>
          <dd>{{personal.fecha_baja_P | date: 'longDate'}}</dd>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <div class="bg-data mb-3">
          <dt class="color-label"> id Acceso </dt>
          <dd>{{personal.id_Acceso}}</dd>
        </div>
      </div>
  
      <div class="col-6">
        <div class="bg-data mb-3">
          <dt class="color-label"> Clave Puesto </dt>
          <dd>{{personal.clave_Puesto}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> Clave P Int </dt>
          <dd>{{personal.clave_p_Int}}</dd>
        </div>
      </div>
  
      <div class="col-4">
        <div class="bg-data mb-3">
          <dt class="color-label"> estatus </dt>
          <dd > {{personal.estatus}}</dd>
        </div>
      </div>
    </div>
  </dl>
  
  <div class="d-flex justify-content-end">
    <button type="button" pButton (click)="closeModal()" class="p-button-rounded btn-red-wine me-3" label="Aceptar"></button>
  </div>