.bg-data {
  background-color: #F2EEE4;
  padding: 5px 15px;
  border-radius: 7px;
}

.color-label {
  color: #622214;
  font-weight: bold;
}

.bg-input-small {
  background-color: #F2EEE4;
  padding: 5px 13px;
  border-radius: 7px;
  width: 48%;
}

.bg-input-small-3 {
  background-color: #F2EEE4;
  padding: 5px 13px;
  border-radius: 7px;
  width: 32%;
}
